@import "tailwindcss";

@theme {
  --color-primary: #af101a;
  --color-primary-container: #d32f2f;
  --color-error: #ba1a1a;
  --color-surface: #fff8f7;
  --color-surface-container: #ffe9e7;
  --color-surface-variant: #f9dcd9;
  --color-on-surface: #271816;
  --color-on-background: #271816;
  --color-on-surface-variant: #5b403d;
  --color-primary-fixed-dim: #ffb3ac;
}

body {
  @apply bg-slate-50 text-on-background antialiased;
  font-family: 'Public Sans', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

